.container {
  margin: 5px 15px;
  padding: 5px 15px;
}

.heading {
  color: #494f55;
  font-weight: bold;
  font-size: 18px;
  font-style: bold;
  margin: 20px 0px;
}

.warnings-toast-container {
  display: flex;
  width: 100%;
}

.warning-toast-message {
  color: red;
  border-bottom: 1px solid rgba(255, 0, 0, 0.39);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3px;
  padding-left: 8px;
  font-size: 9px;
  margin: 9px 2px;
  font-weight: 300;
  width: fit-content;
}
.warning-toast-message-xmark {
  color: maroon;
  margin-left: 5px;
}
